<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1 style="text-align: center;">Bem-vindo à Página cadastro</h1>
    </header>

    <main>
        <h1 style="text-align: center;">Castrar produto</h1>
        <!-- <form action="http://localhost:3000/post/" method="GET">
            Tipo : <input type="text" name="tipo"><br>
            nome: <input type="text" name="nome"><br>
            Discricao: <input type="text" name="disc"><br>
            preço: <input type="number" name="preco"><br>
            <button type="submit">Send to backend</button> 
        </form>-->
        <form style="width: 560px; margin: 0 auto;" action="http://localhost:3000/post/" method="GET">
            <div class="colmb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <input name="tipo" type="text" class="form-control" id="tipo" aria-describedby="emailHelp">
            </div>
            <div class="colmb-3">
                <label for="nome" class="form-label">Nome</label>
                <input name="nome" type="text" class="form-control" id="nome" aria-describedby="emailHelp">
            </div>
            <div class="colmb-3">
                <label for="disc" class="form-label">Descrição</label>
                <input name="disc" type="text" class="form-control" id="disc" aria-describedby="emailHelp">
            </div>
            <div class="colmb-3">
                <label for="preco" class="form-label">Descrição</label>
                <input name="preco" type="number"  min="0" value="0" step="any" class="form-control" id="preco" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <section style="text-align: center; padding-top: 20px;">
            <h2>Informações Adicionais</h2>
            <p><a href="/cadastro">Fazer cadastro</a></p>
            <p>Esta página contém informações apenas para usuários autenticados.</p>
        </section>
    </main>

    <footer style="text-align: center;">
        <p>&copy; 2024 Seu Site</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>